* {
    margin: 0;
    padding: 0;

}

body {
    min-height: 100vh;
    background: hsl(47, 88%, 63%);
    font-family: [Figtree](https: //fonts.google.com/specimen/Figtree);
   display: flex;
    justify-content: center;
    align-items: center;    
    }

    .wrapper {
        font-size: 16px;
        font-weight: 600, 800;
        width: 350px;
        margin: auto;
        border: 2px solid black;
        box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
        padding: 20px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 15px;
    }

    .wrapper:active {
        box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 1);
    }

    .design {
        width: 340px;
        height: 200px;
        margin: auto;
        border-radius: 15px;
    }

    .design img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    .wrapper h4 {
        background: hsl(47, 88%, 63%);
        padding: 8px;
        margin: 15px;
        margin-left: 6px;
        margin-top: 20px;
        width: 65px;
        border-radius: 5px;
    }

    .wrapper h5 {
        padding: 5px;
    }

    .wrapper h1 {
        padding: 5px;
        margin-top: 13px;
        margin-bottom: 13px;
    }

    .wrapper p {
        padding: 10px;
        color: hsl(0, 0%, 50%);
    }

    .hooper {
        padding: 5px;
    }

    .hooper img {
        width: 30px;
    }

    .hooper span {
        padding: 10px;
        position: relative;
        top: -10px;
    }

    @media (max-width: 800px) {
        .wrapper {
            width: 310px;
        }

        .design {
            width: 300px;
        }
    }

    @media (max-width: 375px) {
        .wrapper {
            width: 280px;
        }

        .design {
            width: 270px;
        }
    }